body {
    background-color: #1c1c1e; /* رنگ پس زمینه تیره تلگرام */
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* جلوگیری از اسکرول */
}

.container {
    text-align: center;
}

.score-board {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f1c40f; /* رنگ طلایی */
}

/* --- تنظیمات جدید و خوشگل عکس سکه --- */
.coin-container img {
    width: 200px;
    height: 200px;
    transition: all 0.2s ease; /* انیمیشن نرم */
    cursor: pointer;
    
    /* دایره کردن عکس */
    border-radius: 50%;
    
    /* سایه نئونی طلایی */
    box-shadow: 0 0 25px rgba(241, 196, 15, 0.6);
    
    /* جلوگیری از دفرمه شدن عکس */
    object-fit: cover;
}

/* افکت کلیک (کوچیک شدن و تغییر سایه) */
.coin-container img:active {
    transform: scale(0.90);
    box-shadow: 0 0 10px rgba(241, 196, 15, 0.8);
}

#username {
    margin-top: 30px;
    color: #888;
}
